<h1>Edit your comment!</h1> 
<%= form_with model: @comment do |c| %>

    <label>Picture Title</label>
    <%= c.text_field :title %><br>

    <ul><img class="circle responsive-img" src='<%= @comment.image_url%>'></ul>

<% end %>

<%= button_to 'Delete this comment', @comment, method: :delete, data: { confirm: 'Are you sure?' } %>
