<h1>All Comments:</h1>

<% @comments.each do |comment|%>
    <p><%= comment.content %></p>
<ul><img src="<%= comment.picture.image_url %>"></ul>
 
<%end%>

<%= link_to "Create a new comment", new_comment_path%>
