<h1>All Comments</h1>

<% @comments.each do |comments|%>
    <ul><img class="circle responsive-img" src='<%= comments.image_url%>'></ul>
    <ul><%= link_to comments.title, comments %></ul>
    <%end%>