<h1>Pictures with this tag</h1> 
    <% @tag.pictures.each do |picture| %>
    
    <ul><%= link_to picture.title, picture %></ul>
    <ul><img class="circle responsive-img" src='<%= picture.image_url%>'></ul>

    <% end %>

<%= button_to 'Delete this tag', @tag, method: :delete, data: { confirm: 'Are you sure?' } %>