<h1>All tags</h1>

<h2>Total: <%= @tags.length %> tags</h2>

<% @tags.each do |tag|%>
    <ul><%= link_to tag.name, edit_tag_path(tag) %>
    <%= button_to 'Delete this tag', tag, method: :delete, data: { confirm: 'Are you sure?' } %></ul>
    <%end%>

<%= link_to 'Create a new tag', new_tag_path %>