<h1>Picture Feed</h1>

<div id="main">
	<div class="inner">
		<div class="columns">


            <% @pictures.each do |picture|%>
            <div class="image fit">
            <a href="<%= picture_path(picture) %>"><img src="<%= picture.image_url%>" alt="" /></a>

            </div>
            <%end%>

        </div>
    </div>
</div>
